# NumPy

A NumPy array is a data structure that is designed to efficiently handle operations on large data sets. These data sets can be of varying dimensions and can contain numerous data types—though not in the same object. NumPy arrays are used as input and output to many other libraries and are used as the underpinning of other data structures that are important to data science

- Website: [numpy.org](https://numpy.org/)

- [Documentation](https://numpy.org/doc/stable/contents.html)

- More info at [wikipedia](https://en.wikipedia.org/wiki/NumPy)

## Installation
If you are using Google Colab, numpy is already available in your environment, just import it. If you are working locally you may need to install it the package. There are many ways to install NumPy, but the simplest way is usually to use pip.

```bash
pip install numpy
```

In [ ]:
# Take the comment out if you need to install numpy

#!pip install numpy

In [ ]:
# Importing Library

import numpy as np

## Creating an Array

You can create arrays from other data structures or initialized with set values. The next exercise ask you to create a one-dimensional array in different ways.  A one-dimensional array has only one dimension, which is the number of elements.

You can see that the array object is displayed as having an internal list as its data. Data is not actually stored in lists, but this representation makes arrays easy to read.

### Exercise 01: Create a one-dimensional array from a list [1,2,3]

In [ ]:
#ADD YOUR CODE HERE

### Exercise 02: Create an array of zeros (the array has 3 elements)

In [ ]:
#ADD YOUR CODE HERE

### Exercise 03: Create an array of ones (3 elements)

In [ ]:
#ADD YOUR CODE HERE

### Exercise 04: Create an array of arbitary numbers (3 elements)

In [ ]:
#ADD YOUR CODE HERE

### Exercise 05: Create an array of 3 elements from a range of numbers between 0 and 3(exclusive)

In [ ]:
#ADD YOUR CODE HERE

### Exercise 06: Create an array of 4 elemsnts from a range of numbers between 0 and 12(exclusive), and with an increment of 3

In [ ]:
#ADD YOUR CODE HERE

### Exercise 07: Using np.linspace, a method that produces evenly spaced numbers over an interval. Create an array of 7 elements eventlu spaced from 0 and 21(inclusive)

In [ ]:
#ADD YOUR CODE HERE

### Exercise 08: Given the 'oned' array created, please:
- check the data type of the array
- check the array size
- check the array total number of bytes consumed by the array
- check the array shape
- check the array number of dimensions

In [ ]:
oned = np.arange(21)
oned

In [ ]:
#Array data sype

#ADD YOUR CODE HERE

In [ ]:
#Array size

#ADD YOUR CODE HERE

In [ ]:
#Array number of bytes

#ADD YOUR CODE HERE

In [ ]:
#Array shape

#ADD YOUR CODE HERE

In [ ]:
#Array dimensions

#ADD YOUR CODE HERE

## N-Dimensions

Two-dimensional arrays are used as matrixes. 

### Exercise 09: Create a two-dimensional array from a list of three three-element lists.

In [ ]:
list_o_lists = [[1,2,3], [4,5,6], [7,8,9]]

#ADD YOUR CODE HERE

### Exercise 10: 
- Check if the resulting array has 3×3 shape and
- Check if the resulting array has two dimensions.

In [ ]:
#ADD YOUR CODE HERE

In [ ]:
#ADD YOUR CODE HERE

## Reshape

You can produce an array with the same elements but different dimensions by using the reshape method. This method takes the new shape as arguments.

In [ ]:
oned = np.arange(12)
oned

### Exercise 11: Reshape the given 'oned' one-dimensional array to produce a two-dimensional one with 3 rows and 4 columns.

In [ ]:
#ADD YOUR CODE HERE

### Exercise 11: Reshape the resulting array from exercise 11 back to an one-dimensional array

In [ ]:
#ADD YOUR CODE HERE

### Exercise 12: Reshape the resulting array from exercise 11 to a three-dimensional arrays. The outermost dimension will have 2 arrays that contains 2 arrays, each with 3 elements:

In [ ]:
#ADD YOUR CODE HERE

### Exercise 13: Reshaping is commonly used with the ,np.ones, np.zeros, and np.empty methods to produce multidimensional arrays with default values. Create a three-dimensional array of 12 ones such that the outermost dimension will have 2 arrays that contains 2 arrays, each with 2 elements:

In [ ]:
#ADD YOUR CODE HERE

## Slicing

You can access the data in arrays by indexing and slicing. 
Indexing and slicing with a one-dimensional array is the same as with a list. 
You can index individual elements from the start or end of an array by supplying an index number or multiple elements using a slice.

In [ ]:
oned = np.arange(21)
oned

### Exercise 14: From the 'oned' one dimension array, get the item of the array with index 3

In [ ]:
#ADD YOUR CODE HERE

### Exercise 15: Get the last item of the array

In [ ]:
#ADD YOUR CODE HERE

### Exercise 16: Get the items of the array between index 3 and 9 (exclusive)

In [ ]:
#ADD YOUR CODE HERE

## Indexing and slicing a two-dimensional array

For multidimensional arrays, you can supply one argument for each dimension. If you omit the argument for a dimension, it defaults to all elements of that dimension. 

So, if you supply a single number as an argument to a two-dimensional array, that number will indicate which row to return. If you supply single-number arguments for all dimensions, a single element is returned. 

You can also supply a slice for any dimension. In return you get a subarray of elements, whose dimensions are determined by the length of your slices. L

In [ ]:
twod = np.arange(21).reshape(3,7)
twod

### Exercise 17: Access the second row of the 'twod' array

In [ ]:
#ADD YOUR CODE HERE

### Exercise 18: Access item at row 2 and col 3

In [ ]:
#ADD YOUR CODE HERE

### Exercise 19: Access row 0 and row 1

In [ ]:
#ADD YOUR CODE HERE

### Exercise 20: Access col 3 of all rows

In [ ]:
#ADD YOUR CODE HERE

### Exercise 21: Access the last 3 cols of row 0 and 1

In [ ]:
#ADD YOUR CODE HERE

## Changing values in an array

You can assign new values to an existing array, much as you would with a list, by using indexing and slicing. If you assign a values to a slice, the whole slice is updated with the new value

In [ ]:
twod = np.arange(21).reshape(3,7)
twod

### Exercise 22: Change the first value of the first row to 33

In [ ]:
#ADD YOUR CODE HERE

### Exercise 23: Change the first 3 values (col 0, 1 and 2) of the first and second rows

In [ ]:
#ADD YOUR CODE HERE

## Filtering Values

One of the most used aspects of NumPy arrays and the data structures built on top of them is the ability to filter values based on conditions of your choosing. In this way, you can use an array to answer questions about your data.

In [ ]:
twod = np.arange(21).reshape(3,7)
twod

Given a two-dimensional array of integers, called and a second array 'mask' with the same dimensions, but with Boolean values. 'mask' specifies which elements from the first array to return.

In [ ]:
mask = np.array([[ True,  False,  True,  True,  False, True, False],
       [ True,  False,  True,  True,  False, True, False],
       [ True,  False,  True,  True,  False, True, False]])

### Exercise 23: Filter array 'twod' using the array 'mask'. The resulting array should contain the elements from 'twod' array whose corresponding positions in 'mask' have the value 'True'.

In [ ]:
#ADD YOUR CODE HERE

### Exercise 24: Comparison operators that you have seen returning single Booleans before return arrays when used with arrays. So, if you use the less-than operator (<) against the array 'towd', the result will be an array with True for every item that is below the given number. For this exercise, please return an array that the values are True when the value of 'twod' are bellow 5.

In [ ]:
#ADD YOUR CODE HERE

### Exercise 25: Please return an array that the values are the value of 'twod' that are bellow 5.

In [ ]:
#ADD YOUR CODE HERE

### Exercise 26: You can also combine these comparisons to create more complex masks. You can join two conditions to create a mask that evaluates to  only for items meeting both conditions. Similar to exercise 24, please return an array that the values are True when the value of 'twod' are bellow 5 AND the modulo of the value == 0.

In [ ]:
#ADD YOUR CODE HERE

### Exercise 27: Similar to exercise 25, please return an array that the values are the value of 'twod' that are bellow 5 AND the modulo of the value == 0.

In [ ]:
#ADD YOUR CODE HERE

## Views versus copies

NumPy arrays are designed to work efficiently with large data sets. One of the ways this is accomplished is by using views. When you slice or filter an array, the returned array is, when possible, a **view** and not a copy. 

A view allows you to look at the same data differently. It is important to understand that memory and processing power are not used in making copies of data every time you slice or filter. If you change a value in a view of an array, you change that value in the original array as well as any other views that represent that item.

In [ ]:
data1 = np.arange(24).reshape(4,6)
data1

We take a slice from the array data1 and name it data2.

In [ ]:
#ADD YOUR CODE HERE
data2 = data1[:2,3:]
data2

### Exercise 28: Replace the value 11 in data2 with -1.

In [ ]:
#ADD YOUR CODE HERE

### Exercise 29: Go back to data1, and check if the value is set to 11 or -1.

In [ ]:
#ADD YOUR CODE HERE

This behavior can lead to bugs and miscalculations, but if you understand it, you can gain some important benefits when working with large data sets. If you want to change data from a slice or filtering operation without changing it in the original array, you can make a copy

In [ ]:
#ADD YOUR CODE HERE
data1 = np.arange(24).reshape(4,6)
data2 = data1[:2,3:].copy()

print(data1)
print(data2)

### Exercise 30: Replace the value 11 in data2 with -1.

In [ ]:
#ADD YOUR CODE HERE

### Exercise 31: Go back to data1, and check if the value is set to 11 or -1.

In [ ]:
#ADD YOUR CODE HERE

## Introspection

NumPy arrays have built-in methods both to get statistical summary data and to perform matrix operations. shows There are methods to get the maximum, minimum, sum, mean, and standard deviation. All these methods produce results across the whole array unless an axis is specified. If an axis value of 1 is specified, an array with results for each row is produced. With an axis value of 0, an array of results is produced for each column

In [ ]:
data = np.arange(12).reshape(3,4)
data

## Exercise 32: Get the max value of array 'data'

In [ ]:
#ADD YOUR CODE HERE

## Exercise 33: Get the min value of array 'data'

In [ ]:
#ADD YOUR CODE HERE

## Exercise 34: Get the sum of all items of array 'data'

In [ ]:
#ADD YOUR CODE HERE

## Exercise 35: Get the sum of each row of array 'data'

In [ ]:
#ADD YOUR CODE HERE

## Exercise 36: Get the sum of each col array 'data'

In [ ]:
#ADD YOUR CODE HERE

## Exercise 37: Get the mean of all values of array 'data'

In [ ]:
#ADD YOUR CODE HERE

## Exercise 38: Get the standard deviation of all values of array 'data'

In [ ]:
#ADD YOUR CODE HERE

## Exercise 39: Get the standard deviation of each row of array 'data'

In [ ]:
#ADD YOUR CODE HERE

## Exercise 40: Get the standard deviation of each col of array 'data'

In [ ]:
#ADD YOUR CODE HERE

## Element by Element Operations

An array is not a sequence. Arrays do share some characteristics with lists, and on some level it is easy to think of the data in an array as a list of lists. 

There are many differences between arrays and sequences, however. One area of difference is when performing operations between the items in two arrays or two sequences. Remember that when you do an operation such as multiplication with a sequence, the operation is done to the sequence, not to its contents. So, if you multiply a list by zero, the result is a list with a length of zero:

In [ ]:
L1 = list(range(10))
L2 = list(range(10, 0, -1))

In [ ]:
print(L1*0)
print(L1)

You cannot multiply two list even if they are of the same length

In [ ]:
L1*L2

While it is possible to use loops to perform element-by-element operations on lists, it is much simpler to use NumPy arrays for such operations. Arrays do element-by-element operations by default. The next exercises demonstrate multiplication, addition, and division operations between two arrays. Notice that the operations in each case are done between the elements of the arrays.

In [ ]:
array1 = np.array(L1)
array2 = np.array(L2)

### Exercise 41: Multiply array1 and array2

In [ ]:
#ADD YOUR CODE HERE

### Exercise 42: Add array1 and array2

In [ ]:
#ADD YOUR CODE HERE

### Exercise 43: Divise array1 and array2

In [ ]:
#ADD YOUR CODE HERE

## Broadcasting

You can perform operations between arrays of different dimensions. Operations can be done when the dimension is the same or when the dimension is one for at least one of the arrays.

In [ ]:
A1 = np.array([[1,2,3],
               [4,5,6],
               [7,8,9]])
A2 = np.array([[1,1,1],
               [1,1,1],
               [1,1,1]])

### Exercise 44: Let's adds 1 to each element of the array A1 in three different ways: 
- first lets with an array of ones (A2) with the same dimensions (3, 3), 
- then with an array with one dimension of one (1, 3), and 
- finally by using the integer 1.

In all three cases, the result is the same: an array of dimension (3, 3). This is called broadcasting because a dimension of one is expanded to fit the higher dimension.

In [ ]:
##Add A1 and A2

#ADD YOUR CODE HERE

In [ ]:
##Add A1 and with an one dimension of one (1, 3)

#ADD YOUR CODE HERE
A2 = np.array([1,1,1])

In [ ]:
# Add A1 using the integer 1


#ADD YOUR CODE HERE

## Expanding Dimensions

In [ ]:
A4 = np.arange(10).reshape(2,1,5)
A4

In [ ]:
A5 = np.arange(14).reshape(2,7,1)
A5

In [ ]:
A6 = A4 - A5
A6

In [ ]:
A6.shape