# Pandas DataFrames

The Pandas DataFrame, which is built on top of the NumPy array, is probably the most commonly used data structure. DataFrames are like supercharged spreadsheets in code. They are one of the primary tools used in data science. This exercise looks at creating DataFrames, manipulating DataFrames, accessing data in DataFrames, and manipulating that data.

## About DataFrames

A Pandas DataFrame, like a spreadsheet, is made up of columns and rows. 

Each column is a  pandas.Series object. A DataFrame is, in some ways, similar to a two-dimensional NumPy array, with labels for the columns and index. 

Unlike a NumPy array, however, a DataFrame can contain different data types. You can think of a pandas.Series object as a one-dimensional NumPy array with labels. The  object, like a NumPy array, can contain only one data type. The pandas.Series object can use many of the same methods you have seen with arrays, such as min(), max(), and mean().

- parts of a dataframe: series
- relation to np arrays

In [ ]:
#The usual convention is to import the Pandas package aliased as pd

import pandas as pd

## Creating DataFrames

You can create DataFrames with data from many sources, including dictionaries and lists and, more commonly, by reading files.  You can also create an empty DataFrame.

### Exercise 1: Create an empty DataFrame

In [ ]:

df = ## ADD YOUR CODE HERE
print(df)

You can create DataFrames from a list of dictionaries or from a dictionary, where each key is a column label with the values for that key holding the data for the column

### Exercise 2: Create a DataFrame from the dictionary 'data'

In [ ]:
first_names = ['shanda', 'rolly', 'molly', 'frank', 'rip', 'steven', 'gwen', 'arthur']
last_names = ['smith', 'brocker', 'stein', 'bach', 'spencer', 'de wilde', 'mason', 'davis']
ages = [43, 23, 78, 56, 26, 14, 46, 92]

data = {'first':first_names,
        'last':last_names,
        'ages':ages}

In [ ]:
participants = ## ADD YOUR CODE HERE
participants

You can create a list of lists, with each sublist containing the data for one row, in the order of the columns:

### Exercise 3: Create a DataFrame from the list 'data'

In [ ]:
data = [["shanda", "smith", 43],
        ["rolly", "brocker", 23],
        ["molly", "stein", 78],
        ["frank", "bach", 56],
        ["rip", "spencer", 26],
        ["steven", "de wilde", 14],
        ["gwen", "mason", 46],
        ["arthur", "davis", 92]]

In [ ]:
participants = ## ADD YOUR CODE HERE
participants

Notice that the resulting DataFrame has been created with integer column names. This is the default if no column names are supplied.

### Exercise 4: Repeat exercise 3, but now supply column names explicitly as a list of strings

In [ ]:
column_names = ['first', 'last', 'ages']

In [ ]:
participants = ## ADD YOUR CODE HERE
participants

### Exercise 5: Similar to exercise 4, you can supply index labels as a list. Please create a dataframe, supply both column names and index labels

In [ ]:
index_labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [ ]:
participants = ## ADD YOUR CODE HERE
participants

## Creating a DataFrame from a File

While creating DataFrames from dictionaries and lists is possible, the vast majority of the time you will create DataFrames from existing data sources. 

Files are the most common of these data sources. Pandas supplies functions for creating DataFrames from files for many common file types, including CSV, Excel, HTML, JSON, and SQL database connections.

Say that you want to open a CSV file from the FiveThirtyEight website, https://data.fivethirtyeight.com, under the **college-majors** data set. After you unzip and upload the CSV file to your filesystems, you open it by simply supplying its path to the Pandas 'pd.read_csv' function:

### Exercise 6: create a datafrmae from the 'all-ages.csv' file

- Data from data.fivethiryeight.com
- Data set: college majors

Download the file to your workstation

In [ ]:
college_majors = ## ADD YOUR CODE HERE

We can select multi-columns Here we select the columns 'Major','Major_category','Total','Unemployment_rate' of the dataframe. We wont use the other columns.

In [ ]:
college_majors = college_majors[['Major','Major_category','Total','Unemployment_rate']]
college_majors

## Accessing Data

Once you have data loaded into a DataFrame, you should take a look at it. Pandas offers numerous ways of accessing data in a DataFrame. You can look at data by rows, columns, individual cells, or some combination of these. You can also extract data based on its value.

### Heads and tails

- To see the top or bottom rows

### Exercise 7: Check the top rows of the dataframe

In [ ]:
## ADD YOUR CODE

### Exercise 8: Check the top 3 rows of the datafra

In [ ]:
## ADD YOUR CODE

### Exercise 9: Check the bottom rowls of the dataframe

In [ ]:
## ADD YOUR CODE

### Descriptive statistics

The DataFrame 'describe' method produces various descriptive statistics about the data.

### Exercise 10: Calculates the count, mean, standard deviation, minimum, maximum, and quantiles for columns containing numeric data.

In [ ]:
## ADD CODE HERE

## Exercise 11: Repeat the exercise 11, but now control the ranges of the quantiles returned. Please you use the range 0.1 to 0.9 (specifies percentiles for 10% and 90%)

In [ ]:
## ADD CODE HERE

If you want to see statistics calculated from nonnumeric columns, you can specify which data types are processed. You do this by using the 'include' keyword. The value passed to this keyword should be a sequence of data types. In Pandas, strings are of type object , so the following includes columns with string data types:

In [ ]:
college_majors.describe(include=['object'])

In [ ]:
college_majors.describe(include='all')

In [ ]:
college_majors.describe(exclude=['int'])

### Access data

We can look at the data and individual columns, rows, or cells.

Looking back at the dataframe 'participants' we created in exercise 5.

In [ ]:
participants

### Exercise 12: Access the first column of the dataframe 'participant' by name. To access a single column, you supply the column name as an argument in brackets.

In [ ]:
## ADD CODE HERE

### Exercise 13: Select the columns 'last' and 'first' of the dataframe 'participants'

In [ ]:
## ADD YOUR CODE HERE

## Exercise 14: If a column name does not contain dashes or special characters, and if the column name is not the same as an existing attribute of the DataFrame, you can access the column as an attribute. Select the column 'ages' as an attribute (use point)

In [ ]:
## ADD CODE HERE

The bracket syntax is overloaded to allow you to grab rows as well as columns. 

To specify rows, you use a slice as an argument. If the slice uses integers, then those integers represent the row numbers to return.

### Exercise 15: Return rows 3, 4, and 5 of the DataFrame 'participants' using slicing

In [ ]:
## ADD YOUR CODE HERE

### Exercise 16: You can also slice using index labels. When you use labels to slice, the last value is included. Return rows an, b, and c:

In [ ]:
## ADD YOUR CODE HERE

You can indicate which rows to return by using a list of Booleans. 
The list should have one Boolean per row: True for the desired rows, and False for the others. 

### Exercise 17: Create a boolean list and use it to return the second, third, and sixth rows.

In [ ]:
mask = #ADD YOUR CODE HERE
participants[mask]

### Optimized access by name

With the 'loc' indexer, you can supply a single label, and the values for that row will be returned.

### Execise 18: Get the values from the row labeled 'c' using loc

In [ ]:
## ADD YOUR CODE HERE

### Execise 19: Get the values from rows between row labeled 'c' to 'f' (inclusive) using loc

In [ ]:
## ADD YOUR CODE HERE

### Execise 20: An optional second argument can indicate which columns to return. Return all the rows for the column labeled as 'first':

In [ ]:
## ADD YOUR CODE HERE

### Execise 21: Return rows until row 'c', for the columns labeled as 'ages' and 'last' (using slicing)

In [ ]:
## ADD YOUR CODE HERE

### Execise 22: Return rows until row 'c', for the columns labeled as 'ages' and 'last' (using a list of Booleans similar to exercise 17)

In [ ]:
## ADD YOUR CODE HERE

### Optimized access by index

The 'iloc' indexer enables you to use index positions to select rows and columns. Much as you’ve seen before with brackets, you can use a single value to specify a single row

### Exercise 23: Return the items in row 3

In [ ]:
## ADD YOUR CODE HERE

### Exercise 24: Return the items in rows 1 to 4 (inclusive)

In [ ]:
## ADD YOUR CODE HERE

### Exercise 25: Return the columns 0 to 2 of the items in rows 1 to 4 (inclusive)

In [ ]:
## ADD YOUR CODE HERE

### Masking and filtering

A powerful feature of DataFrames is the ability to select data based on values. You can use comparison operators with columns to see which values meet some condition.

### Exercise 26: Comparison operators. Show which rows of the  'college_major' (exercise 6) DataFrame that have the value 'Humanities & Liberal Arts' as a major category using the equality operator. It should produces a pandas.Series object that contains  for every row that matches the condition

In [ ]:
college_majors.Major_category == ## ADD YOUR CODE HERE

### Exercise 27: Remember that  returns rows for every  value of an input sequence. You can make a condition based on a comparison operator and a row. Return shw which shows that the column labeled as 'Total' is greater-than (>) 1200000

In [ ]:
total_mask = ## ADD YOUR CODE HERE
total_mask

### Exercise 28: Use the pandas.Series object you have created in exercise 17  as a mask to select only the rows of the 'college_majors' DataFrame that meet the condition in ex 17

In [ ]:
top_majors = ## ADD YOUR CODE HERE
top_majors

### Exercise 29: Use describe to see which major categories have the lowest unemployment rates.  You need to describe the status on the column 'Unemployment_rate'.

In [ ]:
## ADD YOUR CODE HERE

#### Pandas boolean operators
You can use the three Boolean operators AND (&), OR (|), and NOT (~) with the results of your conditions. 
You can use AND (&), OR (|)  to combine conditions and create more complex ones. You can use  NOT (~)  to create a mask that is the opposite of your condition.

### Exercise 30: Create a new mask combining the two existing masks to produce a new one, that applied for both conditions. You can use AND to create a new mask based on the previous ones to see which major categories of the most popular majors have a low unemployment rate.

In [ ]:
# Mask all rows with an unemployment rate less than or equal to 0.046261 (low unemployment rate)
employ_rate_mask = college_majors.loc[:, 'Unemployment_rate'] <= 0.046261
employ_rate_majors = college_majors.loc[employ_rate_mask]
employ_rate_majors.Major_category.unique()

# Mask all rows with total participants greater than 1200000 (most popular majors)
total_mask = college_majors.loc[:, 'Total'] > 1200000



total_rate_mask = ## ADD YOUR CODE HERE
total_rate_mask

### Exercise 31: Apply the mask from the previous exercise to select the most popular majors have the lowest unemployment rates from the college_major DataFrame

In [ ]:
## ADD YOUR CODE HERE

## Exercise 32: Create and apply a new mask to create a DataFrame whose rows all have an employment rate higher than the bottom percentile (the opposite of the employ_rate_mask)

In [ ]:
lower_rate_mask = ## ADD YOUR CODE HERE
lower_rate_majors = college_majors.loc[lower_rate_mask]
lower_rate_majors.Unemployment_rate.min()

## Exercise 33: Select all the rows of the college_major DataFrame that either fit the top majors condition or the employment rate condition

In [ ]:
college_majors.loc[## ADD YOUR CODE HERE]

## Manipulating DataFrames

Once you have the data you need in a DataFrame, you might want to change the DataFrame. 

You can rename columns or indexes, you can add new columns and rows, and you can delete columns and rows.

In [ ]:
## Look at all columns of the DataFrame
participants.columns

Renamining - Changing the label of a column is simple using the DataFrame 'rename; method. 

### Execise 35: Rename the column current named as 'ages' to 'Ages' in the participant DataFrame
Note that by default, the rename method returns a new DataFrame using the new column labels.

In [ ]:
## ADD YOUR CODE HERE

In [ ]:
## Look at all columns of the DataFrame
participants.columns

### Execise 36: Repeat exercise 35, but make sure that the rename is done 'inplace', the changes will be done to the original DataFrame.

In [ ]:
## ADD YOUR CODE HERE

You can use the indexer syntax to create new columns. To do so, you simply access the column as if it already exists by using an indexer and the cited values, for example:

In [ ]:
participants['Zip Code'] = [94702, 97402, 94223, 94705, 97503, 94705, 94111, 95333]
participants

### Exercise 37: Create a new column "Full Name" that's content is the values of the participats first and last names (column 'first' and 'last'). Use loc to get the rows of the specific columns and "add" them using the operator +

In [ ]:
participants['Full Name'] = ## ADD YOUR CODE HERE
participants

## Manipulating Data

Pandas gives you many ways to change data in a DataFrame. 
- You can set values by using the same indexers you used before. 
- You can do operations on whole DataFrames or on individual columns. 
- And you can apply functions to change elements in a column or create new values from multiple rows or columns.

### Exercise 38: To change the first name (column first), of the row 'h' ('Arthur') to 'Paul' (use loc)

In [ ]:
## ADD YOUR CODE HERE

### Exercise 39: To change the item of the third column and forth row to 99 (use iloc)

In [ ]:
## ADD YOUR CODE HERE

You can also use in-place operators such as +=, -=, and  =, to change values in a column.
### Exercise 40: Decrease the age of all participant by 1 (use -=)

In [ ]:
## ADD YOUR CODE HERE

Replace method finds and replaces values across a DataFrame. 

### Exercise 41: Find and replace the name rolly with Smiley

In [ ]:
## ADD YOUR CODE HERE

This method also works with regular expressions. Here is how you construct a regular expression that matches words starting with s and replaces the  s with S

In [ ]:
participants.replace(r'(s)([a-z]+)', r'S\2', regex=True)

### Apply

Both DataFrames and the  pandas.Series object have an  method that can call a function on values.
In the case of a  pandas.Series object, the apply  method calls a function of your choosing on every value in the pandas.Series object individually.

In [ ]:
def cap_word(w):
    return w.capitalize()

participants.loc[:, 'first'].apply(cap_word)

In the case of a DataFrame,  apply takes a row as an argument, enabling you to produce new values from the columns of that row.

In [ ]:
def say_hello(row):
    return f'{row["first"]} is {row["Age"]} years old.'

participants.apply(say_hello, axis=1)